

body {
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}
h1, h2, p {
    margin: 0;
}

h1, h2 {
    color: rgb(233, 233, 233);
    font-family: 'Open sans', sans-serif;
    font-weight: 900;
    line-height: 1;
}

p {
    margin-bottom: 1em;
}

img {
    display: block;
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
    padding-top: 20px;
    /*padding-left: 200px;*/
}

header,
section {
    padding: 3rem 0;
}

div nav {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;
}    

.video {
    justify-content: center;
    display: flex;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.social-networks {
    text-align: center;
}

.active {
    border-bottom: #ffffff;
}
.social-networks > li {
    display: inline;
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #1100ff;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);

}

.bg-light-grey { 
    background-color: rgb(190, 190, 190);
}

.bg-darker-white { 
    color: black;
    background-color: rgb(233, 233, 233);
}

.bg-white { 
    color: gray;
    background-color: rgb(255, 255, 255);
}

.bg-black {
    color: white;
    background-color: black;
}

.bg-light-grey h1, .bg-white p {
    color: rgb(0, 0, 0);
}

